.App {
  font-family: "Arial";
  text-align: center;
  margin: auto;
  height: 100%;
}

.App-header {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
 
  background-color: #61dafb;


}

.App-progress {
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 2px;
  overflow: hidden;
  background-color: #13007e;
}

.nav-link {
  font-size: 30px;
  align-items: center;
  justify-content: center;
  border-left: 1px solid black;
  border-right: 2px solid black;
  color: rgb(0, 184, 0);
  text-align: center;
  padding: 20px 26px;
}

.App-footer{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 160px;
  width: 100%;
  background-color: #61dafb;

  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
 
 
}

.App-link {
  color: #61dafb;
}

.Table{
  margin-left: auto;
  margin-right: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #dddddd;
}



