.Layout{
    display: inline-block;
    width: 150px;
    text-align: right;
    padding: 3px;
}

.InputLabel{
    display: inline-flex;
}


.Table{
    margin-left: auto;
    margin-right: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  td, th{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even){
    background-color: #dddddd;
  }
  
  